{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
    <div class="form-group mb-2">
        {{ form_label(form.nom) }}
        <div class="col-sm-10">
            {{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-sm'}})}}
        </div>
    </div>
    <button class="btn btn-sm btn-primary mb-2">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}